<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adli.mar">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logojamedadi"
        android:label="جامدادی"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".text" />
        <activity android:name=".text1" />
        <activity android:name=".text2" />
        <activity android:name=".text3" />
        <activity android:name=".azmoon" />
        <activity android:name=".calculator" />
        <activity android:name=".darsname" />
        <activity android:name=".login" />
        <activity android:name=".SignUPActivity" />
        <activity android:name=".dictionary" />
        <activity android:name=".Sodoku" />
        <activity
            android:name=".About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Prefs"
            android:label="@string/settings_title" />
        <activity
            android:name=".Game"
            android:label="@string/game_title" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".voicerecoreder"></activity>
    </application>

</manifest>